USE `mc-legende`; 
CREATE TABLE IF NOT EXISTS logs (id int(11) NOT NULL AUTO_INCREMENT, user_id int(11) DEFAULT NULL, action varchar(255) NOT NULL, description text DEFAULT NULL, ip_address varchar(45) DEFAULT NULL, date_creation datetime DEFAULT current_timestamp(), PRIMARY KEY (id), KEY user_id (user_id), KEY date_creation (date_creation), CONSTRAINT logs_ibfk_1 FOREIGN KEY (user_id) REFERENCES utilisateurs (id) ON DELETE SET NULL) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
