USE mc-legende; CREATE TABLE IF NOT EXISTS sessions (id int(11) NOT NULL AUTO_INCREMENT, user_id int(11) NOT NULL, token varchar(255) NOT NULL, ip_address varchar(45) DEFAULT NULL, user_agent text DEFAULT NULL, date_debut datetime DEFAULT current_timestamp(), date_fin datetime NOT NULL, active tinyint(1) DEFAULT 1, created_at timestamp DEFAULT current_timestamp(), updated_at timestamp DEFAULT current_timestamp() ON UPDATE current_timestamp(), PRIMARY KEY (id), UNIQUE KEY token (token), KEY user_id (user_id), KEY date_fin (date_fin), KEY active (active), CONSTRAINT sessions_ibfk_1 FOREIGN KEY (user_id) REFERENCES utilisateurs (id) ON DELETE CASCADE) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
